doctype 5
html(lang="en")
    head
        link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css", rel="stylesheet")
        title= name
    body
        h1= name
        img(src=imageName)
        P Sets: #{sets}
        label Card Text Label
        

        label Relationships
        each node in nodes
            p 
                a(href='/card/'+node['x.name'])
                    =node["x.name"]
                
                span(style='margin-left:10px') Score: #{node["r.count"]}
