extends layout

block head
    title= name
    meta(name="description", content="#{name} A free deck building site for Magic: The Gathering with easy to use tools including our powerful card suggestion engine.")
    meta(name="keywords", content="#{name} #{cardInfo.rules} magic the gathering combos card suggestion engine MTG deck building proxy proxies print printing build node graph")
block content
    h1= name
    img(src=imageName, alt=name)
    div
        script(type="text/javascript")
            <!--
            google_ad_client = "ca-pub-8959125242059762";
            /* cardPageSideAd */
            google_ad_slot = "7998666424";
            google_ad_width = 300;
            google_ad_height = 600;
            //-->

        script(type="text/javascript", src="http://pagead2.googlesyndication.com/pagead/show_ads.js")

    table.table
        tbody
            tr
                td rules
                td #{cardInfo.rules}
            tr
                td artist
                td #{cardInfo.artist}
            tr
                td rulings
                td #{cardInfo.rulings}
            tr
                td type
                td #{cardInfo.type}
            tr
                td flavor
                td #{cardInfo.flavor}
            tr
                td rarity
                td #{cardInfo.rarity}

    label Card Text Label

    label Relationships
    each node in nodes
        p 
            a(href='/card/'+node['x.name'])
                =node["x.name"]

            span(style='margin-left:10px') Score: #{node["r.count"]}
